In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("cgpa.csv")
df

   cgpa  package
0  2.90      1.8
1  3.10      2.4
2  3.10      3.0
3  3.40      3.1
4  3.30      3.2
5  3.80      3.3
6  3.90      3.5
7  3.70      3.6
8  3.44      3.8
9  3.80      3.9

In [8]:
x = df.iloc[:,:-1]
y= df.iloc[:,-1]

In [9]:
x

   cgpa
0  2.90
1  3.10
2  3.10
3  3.40
4  3.30
5  3.80
6  3.90
7  3.70
8  3.44
9  3.80

In [10]:
y

0    1.8
1    2.4
2    3.0
3    3.1
4    3.2
5    3.3
6    3.5
7    3.6
8    3.8
9    3.9
Name: package, dtype: float64

In [12]:
from sklearn.model_selection import  KFold, LeaveOneOut, LeavePOut

In [13]:
kf = KFold(n_splits=5)

for training_data , validation_data in kf.split(x,y):
    print(training_data, validation_data)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [14]:
lo = LeaveOneOut()

for training_data , validation_data in lo.split(x,y):
    print(training_data, validation_data)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [18]:
lp = LeavePOut(p=2)

for training_data , validation_data in lp.split(x,y):
    print(training_data, validation_data)

[2 3 4 5 6 7 8 9] [0 1]
[1 3 4 5 6 7 8 9] [0 2]
[1 2 4 5 6 7 8 9] [0 3]
[1 2 3 5 6 7 8 9] [0 4]
[1 2 3 4 6 7 8 9] [0 5]
[1 2 3 4 5 7 8 9] [0 6]
[1 2 3 4 5 6 8 9] [0 7]
[1 2 3 4 5 6 7 9] [0 8]
[1 2 3 4 5 6 7 8] [0 9]
[0 3 4 5 6 7 8 9] [1 2]
[0 2 4 5 6 7 8 9] [1 3]
[0 2 3 5 6 7 8 9] [1 4]
[0 2 3 4 6 7 8 9] [1 5]
[0 2 3 4 5 7 8 9] [1 6]
[0 2 3 4 5 6 8 9] [1 7]
[0 2 3 4 5 6 7 9] [1 8]
[0 2 3 4 5 6 7 8] [1 9]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 3 5 6 7 8 9] [2 4]
[0 1 3 4 6 7 8 9] [2 5]
[0 1 3 4 5 7 8 9] [2 6]
[0 1 3 4 5 6 8 9] [2 7]
[0 1 3 4 5 6 7 9] [2 8]
[0 1 3 4 5 6 7 8] [2 9]
[0 1 2 5 6 7 8 9] [3 4]
[0 1 2 4 6 7 8 9] [3 5]
[0 1 2 4 5 7 8 9] [3 6]
[0 1 2 4 5 6 8 9] [3 7]
[0 1 2 4 5 6 7 9] [3 8]
[0 1 2 4 5 6 7 8] [3 9]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 5 7 8 9] [4 6]
[0 1 2 3 5 6 8 9] [4 7]
[0 1 2 3 5 6 7 9] [4 8]
[0 1 2 3 5 6 7 8] [4 9]
[0 1 2 3 4 7 8 9] [5 6]
[0 1 2 3 4 6 8 9] [5 7]
[0 1 2 3 4 6 7 9] [5 8]
[0 1 2 3 4 6 7 8] [5 9]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 7 9] [6 8]
[0 1 2 3 4 5 7 8] [6 9]
[0 1 2 3 4 5 6 9] [7 8]
[0 1 2 3 4 5 6 8] [7 9]
[0 1 2 3 4 5 6 7] [8 9]

In [26]:
from sklearn.linear_model import LinearRegression
lg = LinearRegression()

In [28]:
from sklearn.model_selection import cross_val_score

In [29]:
cross_val_score(lg,x,y,cv=5)

array([  -9.40855335,  -42.75127209,  -60.63439739,  -51.57113484,
       -138.74827637])

In [34]:
cross_val_score(lg,x,y,cv=KFold(n_splits=4))

array([  -2.36424269,  -14.43385329,  -51.57113484, -138.74827637])